
#OutBox #Mid .MidInner .M2 .RightCon
{
    width: 960px;
    background: #ffffff;
}

    #OutBox #Mid .MidInner .M2 .RightCon .Title
    {
        font-size: 16px;
        font-weight: bold;
        color: #cc0000;
        line-height: 40px;
        height: 40px;
        border-bottom: 1px solid #dddddd;
        padding-left: 20px;
        padding-right: 15px;
    }

        #OutBox #Mid .MidInner .M2 .RightCon .Title a
        {
            color: #cc0000;
            font-family: 微软雅黑;
        }

        #OutBox #Mid .MidInner .M2 .RightCon .Title .Current
        {
            float: right;
            height: 40px;
            font-size: 12px;
            color: #666666;
            font-weight: normal;
        }

            #OutBox #Mid .MidInner .M2 .RightCon .Title .Current a
            {
                padding: 0px 5px;
                color: #666666;
            }

    #OutBox #Mid .MidInner .M2 .RightCon .Content
    {
        padding: 15px 20px;
        font-size: 14px;
        line-height: 26px;
        color: #666666;
        font-family: 微软雅黑;
    }

        #OutBox #Mid .MidInner .M2 .RightCon .Content .newsMain h1
        {
            color: #cc0000;
            font-family: "微软雅黑","黑体";
            font-size: 20px;
            font-weight: normal;
            line-height: 30px;
            padding-bottom: 5px;
            text-align: center;
        }

        #OutBox #Mid .MidInner .M2 .RightCon .Content .newsMain .desc
        {
            border-bottom: 1px dashed #dddddd;
            color: #808080;
            font-family: "微软雅黑","黑体";
            font-size: 16px;
            font-weight: normal;
            line-height: 30px;
            text-align:right;
              margin-bottom: 10px;
        }
         #OutBox #Mid .MidInner .M2 .RightCon .Content .List label
        {
           float:right;
            color: #808080;
        }
        
