html,body,div,p,ul,ol,li,dl,dt,dd,strong,em,span,table,th,td,tbody,thead,a,img,h1,h2,h3,h4,h5{
	padding:0px;
	margin:0px;
	list-style:none;
	font-style:normal;
}
body{
	font-size:14px;
	font-weight:normal;
	font-family:"Times New Roman","宋体";
	line-height:24px;
	color:#333333;
-webkit-text-size-adjust:none;
}
img{
	border:0px;
	line-height:0px;
}
a{
	color:#333333;
	text-decoration:none;
}
a:hover{
	color:#cc0000;
	text-decoration:underline;
}
.clear{
	clear:both;
	height:0px;
	line-height:0px;
	font-size:0px;
}
#OutBox{
	width:100%;
	background:#ffffff url(../images/bg0001.jpg) center top no-repeat;
	min-width:960px;
}
#OutBox #Mid{
	width:100%;
}
#OutBox #Mid .MidInner{
	width:960px;
	margin:0px auto;
}

ul.pagination
{
    float: right;
    font-size: 12px;
    clear: both;
}

    ul.pagination li
    {
        float: left;
        padding-right: 5px;
    }

        ul.pagination li a
        {
            padding: 3px 3px;
            border: 1px solid #ccc;
            text-decoration: none;
            display: block;
            background: #fff url(../images/bg_fade_up.png) repeat-x bottom;
            min-width: 20px;
            text-align: center;
        }

        ul.pagination li.page a
        {
            color: #cc0000;
            font-weight: normal;
        }

            ul.pagination li.page a:hover
            {
                color: #fff;
            }

        ul.pagination li.text a
        {
            border: none;
            text-decoration: underline;
            padding: 0 5px 0 0;
        }

        ul.pagination li.text
        {
            line-height: 2em;
        }

        .button1
{
    border: 0 none;
    cursor: pointer;
    color: #000000;
    height: 27px;
    width: 45px;
    text-shadow: 1px 1px 0 #fff;
    border: 0 none;
    background: url("../images/button1.png");
    line-height: 27px;
    text-align: center;
    font-family: "微软雅黑";
}

    .button1:hover
    {
        color: #00a1ca;
    }