body
{
    overflow: auto;
    overflow-x: hidden;
    font-family: "微软雅黑";
}

html
{
    overflow: auto;
}

#box
{
    margin: auto;
    width: 100%;
    background: #fff;
}


    #box h1
    {
        border-left: 3px solid #00a1ca;
        color: #00a1ca;
        display: inline;
        float: left;
        font-size: 16px;
        font-weight: bold;
        line-height: 1;
        margin-top: 10px;
        margin-bottom: 8px;
        padding-left: 5px;
        width: 100%;
    }

    #box .mid
    {
        border-top: solid 1px #E5E5E5;
    }

    #box .left
    {
        float: left;
        width: 180px;
        background: #F3F3F3;
        min-height: 500px;
        padding-top: 10px;
    }

        #box .left dt
        {
            font-size: 14px;
        }


    #box .leftbody
    {
        padding-left: 30px;
    }

    #box .right
    {
        float: left;
    }

    #box .rightbody
    {
        padding: 20px;
    }

    #box dd div
    {
        line-height: 30px;
    }

    #box dd a
    {
        color: #000;
        display: block;
        height: 32px;
        line-height: 2.6;
        position: relative;
        text-decoration: none;
        text-indent: 12px;
    }

        #box dd a:hover
        {
            background: none repeat scroll 0 0 #EAEAEA;
        }

.current
{
    background: none repeat scroll 0 0 #fff;
}

#box .bot
{
    clear: both;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-top: solid 1px #E5E5E5;
    color: #666666;
}
