html {
    font-family: "Microsoft Yahei", arial, helvetica, sans-serif;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, code, em, img, q, small, strong, dd, dl, dt, li, ol, ul, fieldset, form, label, table, tbody, tr, th, td, input {
    border: 0 none;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

a {
    color: #666;
    text-decoration: none;
}

.clear {
    clear: both;
}

table {
    border-collapse: collapse;
}

img {
    vertical-align: baseline;
}

#wrapper {
    background-color: #f8f8f8;
    margin: 0 auto;
}

#header {
    display: block;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

#header.relative {
    position: relative;
}

/*topbar*/
.top_bar {
    height: 100px;
    position: relative;
}

/*topmenubar*/
.top_menu_bar {
    background: rgba(255, 255, 255, 0.95) none repeat scroll 0 0;
    box-sizing: border-box;
    height: 40px;
    border-bottom: 1px solid #e5e5e5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EAffffff, endColorstr=#EAffffff);
}

.top_menu {
    overflow: hidden;
}

.top_menu_list {
    padding: 10px 0px 10px 0px;
    width: 980px;
    white-space: nowrap;
    margin: auto;
}

.top_menu_list .btn {
    font-size: 16px;
    text-decoration: none;
    color: #333333;
    padding: 16px 20px;
}

.top_menu_list .btn.cur {
    background-color: #00C1DE;
    color: #FFFFFF;
}

.top_menu_list .btn:hover {
    background-color: #00C1DE;
    color: #FFFFFF;
}

/*content*/
#content {
    /*border: dotted 1px #555;*/
    padding: 140px 20px 10px 0px;
    /*background-color: #00a2ca;*/
}

/*postion导航位置*/
#content .position {
    padding: 0px 2px 0px 20px;
    background-color: #FFFFFF;
    margin: 10px 0px;
    line-height: 30px;
    font-size: 14px;
}

#content .list {
    background-color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid #e5e5e5;
    margin: 10px 0px 10px 0px;
}

#content .list_title {
    margin-bottom: 15px;
}

#content .list_title h2 {
    font-size: 20px;
    font-weight: normal;
}

#content .list_summary {
    color: #333;
    line-height: 25px;
    font-size: 14px;
}

#content .list_summary .list_img_holder {
    position: relative;
    float: left;
    overflow: hidden;
    padding-bottom: 20%;
    width: 30%;
    border: solid 1px #eeeeee;
    margin-right: 20px;
}

#content .list_summary img {
    display: block;
    position: absolute;
    text-decoration: none;
    width: 100%;
    height: auto;
    margin: 0px 0px 10px 10px;
    border-radius: 4px;
}

#content .list_summary .meta {
    text-align: right;
    font-size: 14px;
    color: #999;
}

#content .item {
    background-color: #FFFFFF;

}

#content .item_title {
    border-bottom: solid 1px #e5e5e5;
}

#content .item_title h1 {
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: normal;
    height: 60px;
    line-height: 60px;
}

#content .item_title .meta {
    text-align: center;
    line-height: 40px;
    color: #999;
}

#content .item_content {
    padding: 20px;
    color: #555555;
    font-size: 15px;
    line-height: 26px;
    text-indent: 30px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
}

#content .item_content img {
    border-radius: 4px;
    width: 90%;
    height: auto;
}

/*right*/
#sidebar {
    /*border: dotted 1px #555;*/
    padding: 140px 0px;
    /*background-color: #ab1e1e;*/
}

#sidebar .section {
    background-color: #FFFFFF;
    margin: 10px 0px;
    padding: 0px 20px 20px 20px;
}

#sidebar .section h3 {
    font-size: 16px;
    font-weight: normal;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}

#sidebar .section li {
    list-style: none;
    line-height: 24px;
    font-size: 14px;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #eeeeee;
}

#sidebar .section .meta {
    text-align: right;
    font-size: 14px;
    color: #999;
}

#footer {
    color: #666;
    text-align: center;
    line-height: 100px;
}

#footer a {
    color: #666;
}

@media screen and (max-width: 2560px) {
    #wrapper {
        width: 1000px;
    }

    #sidebar {
        float: right;
        width: 33%;
    }

    #content {
        float: left;
        width: 65%;
    }
}

/*@media screen and (max-width: 1600px) {*/
/*#wrapper {*/
/*width: 1000px;*/
/*}*/

/*#sidebar {*/
/*float: right;*/
/*width: 25%;*/
/*}*/

/*#content {*/
/*float: left;*/
/*width: 60%;*/
/*}*/
/*}*/

/*@media screen and (max-width: 1000px) {*/
/*#wrapper {*/
/*width: 100%;*/
/*}*/

/*#sidebar {*/
/*float: right;*/
/*width: 25%;*/
/*}*/

/*#content {*/
/*float: left;*/
/*width: 60%;*/
/*}*/
/*}*/

@media screen and (max-width: 768px) {
    #wrapper {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    #content {
        float: none;
        width: auto;
    }

    #item_share {
        display: none;
    }

    #content {
        padding-right: 0px;
    }
}

@media screen and (max-width: 320px) {
    #wrapper {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    #content {
        float: none;
        width: auto;
    }

    #item_share {
        display: none;
    }

}

