<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" th:content="${page.keywords}"/>
    <meta name="description" th:content="${page.description}"/>
    <meta name="author" content=""/>
    <meta name="copyright" content=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/pagebar.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery1.7.2.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:include="fragments/top::top"></div>
    <div id="content">
        <div style="margin-top: 26px; padding-bottom: 20px;">
            当前位置：<a href="/">首页</a> &raquo; <a th:href="${page.navUrl}" th:text="${page.navTitle}"></a>
        </div>
        <div class="item">
            <div class="item_title">
                <h1 th:text="${page.data.title}"></h1>
                <p th:text="${page.data.time}"></p>
            </div>
            <div class="item_content" th:utext="${page.data.content}"></div>
        </div>
    </div>
    <div th:include="fragments/right::right"></div>
    <div th:include="fragments/bot::bot"></div>
    <script th:src="${'/viewcount?id=' + page.data.id}"></script>
</div>
</body>
</html>
