<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" th:content="${page.keywords}"/>
    <meta name="description" th:content="${page.description}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/pagebar.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery1.7.2.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:include="fragments/top::top"></div>
    <div id="content">
        <div class="position">
            <a href="/">首页</a>
            &gt; <a th:href="${page.navUrl}" th:text="${page.navTitle}"></a>
            &gt; <label th:href="${page.navUrl}" th:text="${page.data.title}"></label>
        </div>
        <div class="item">
            <div class="item_title">
                <h1 th:text="${page.data.title}"></h1>
                <div class="meta" th:text="${#calendars.format(page.data.time,'yyyy-MM-dd')}"></div>
            </div>
            <div class="item_content" th:utext="${page.data.content}"></div>
        </div>
    </div>
    <div th:include="fragments/right::right"></div>
    <div th:include="fragments/bot::bot"></div>
    <script th:src="${'/viewcount?id=' + page.data.id}"></script>
</div>
</body>
</html>
