<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${page.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui"/>
    <meta name="keywords" th:content="${page.keywords}"/>
    <meta name="description" th:content="${page.description}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/pagebar.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery1.7.2.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:include="fragments/top::top"></div>
    <div id="content">
        <th:block th:each="item:${page.list}">
            <div class="list">
                <div class="list_title">
                    <a th:href="*{item.url}" th:title="*{item.title }"><h2 th:text="*{item.title}"></h2></a>
                </div>
                <div class="list_summary">
                    <div th:if="*{item.pictureUrl!=null}" class="list_img_holder"><a th:href="*{item.url}"><img
                            th:src="*{item.pictureUrl}"/></a></div>
                    <th:block th:text="*{item.summary }"></th:block>
                    <div class="meta" th:text="*{#calendars.format(item.time,'yyyy-MM-dd')}"></div>
                </div>
                <div class="clear"></div>
            </div>
        </th:block>

        <div id="pages" class="page">
            <a target="_self" th:if="${page.paging.pageNumber} &gt; 0"
               th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber-1))}"
               class="prev">上一页</a>
            <a th:if="${ page.paging.pageNumber} &gt; 3" th:href="${#strings.replace(page.paging.url,'[number]','0')}"
               target="_self">1</a>
            <th:block th:if="${page.paging.pageNumber} &gt; 3">...</th:block>

            <th:block th:each="item:${page.paging.pages}">
                <a th:if="${item != page.paging.pageNumber}"
                   th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(item))}"
                   target="_self" th:text="${item+1}"></a>
                <span th:if="${item==page.paging.pageNumber}" th:text="${item+1}"></span>
            </th:block>

            <th:block th:if="${page.paging.pageNumber+3} &lt; ${page.paging.totalPage}"> ...</th:block>
            <a th:if="${page.paging.pageNumber+3} &lt; ${page.paging.totalPage}"
               th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber + 4))}"
               target="_self" th:text="${page.paging.pageNumber + 5}"></a>

            <a target="_self" th:if="${page.paging.pageNumber + 1} &lt; ${page.paging.totalPage}"
               th:href="${#strings.replace(page.paging.url,'[number]',#strings.toString(page.paging.pageNumber+1))}"
               class="next">下一页</a>
        </div>
    </div>
    <div th:include="fragments/right::right"></div>
    <div th:include="fragments/bot::bot"></div>
</div>
</body>
</html>
