<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery1.7.2.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/jquery.utils.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/categoryedit.js}"></script>
</head>
<body>
<div class="title">分类操作</div>
<table width="100%" class="list_table_edit">
    <tr>
        <th>序号</th>
        <td><span th:text="${page.id}"></span></td>
    </tr>
    <tr>
        <th>名称</th>
        <td><input class="txt" id="name" type="text" style="width: 100px;" th:value="${page.name}"/></td>
    </tr>
    <tr>
        <th>父级</th>
        <td>
            <select id="category">
                <option value="0">全部</option>
                <th:block th:each="parent:${page.parents}">
                    <option th:value="${parent.id}" th:text="${parent.name}"></option>
                </th:block>
            </select>
        </td>
    </tr>
    <tr>
        <th>路径</th>
        <td><input class="txt" id="path" type="text" th:value="${page.path}"/></td>
    </tr>


    <tr>
        <th>标题</th>
        <td><input class="txt" id="title" type="text" style="width: 500px;" th:value="${page.title}"/></td>
    </tr>

    <tr>
        <th>关键字</th>
        <td><input class="txt" id="keywords" type="text" style="width: 500px;" th:value="${page.keywords}"/></td>
    </tr>
    <tr>
        <th>描述</th>
        <td><input class="txt" id="description" type="text" style="width: 800px;" th:value="${page.description}"/></td>
    </tr>

    <tr>
        <th>排序号</th>
        <td><input class="txt" id="sort" type="text" style="width: 80px;" th:value="${page.sort}"/></td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <input class="button1" type="button" id="btnSave" value="保存"/>
            <input type="hidden" id="id" th:value="${page.id}"/>
        </td>
    </tr>
</table>
</body>
</html>
