<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/main.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/jquery1.7.2.js}"></script>
    <script type="text/javascript">
        $(function () {
            $(".left a").click(function () {
                $(".left a").removeClass("current");
                $(this).addClass("current");
            });

//            $(window).resize(function () {
//                resize();
//            });
//
//            resize();
        });

        function resize() {
            var w = $(window).width() - $(".left").width();
            $(".right").width(w);

            var rightHeight = $("#frmRight").contents().find("body").height() + 30;
            $(".right").height(rightHeight);
            $(".rightBody").height(rightHeight);
        }

        setInterval(function () {
            resize()
        }, 100);
    </script>

</head>
<body>
<div id="box">
    <div style="background: #00a2ca; height: 5px;"></div>
    <h2 style="line-height: 30px;">管理后台</h2>
    <div style="clear: both;"></div>
    <div style="margin: auto; ">
        <div class="left" style="float: left; width: 100px;">
            <div>
                <dl>
                    <dt>网站栏目</dt>
                    <dd>
                        <div><a th:href="@{/man/configEdit}" target="frmRight" class="current">配置</a></div>
                        <div><a th:href="@{/man/categorylist}" target="frmRight" class="current">分类</a></div>
                        <div><a th:href="@{/man/articlelist}" target="frmRight" class="current">文章</a></div>
                    </dd>
                </dl>

            </div>
        </div>
        <div class="right" style="float: right;">
            <div class="rightBody">
                <iframe id="frmRight" name="frmRight" th:src="@{/man/articlelist}" frameborder="0" scrolling="auto"
                        width="100%" height="100%"></iframe>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
    <div style="clear: both;"></div>
    <div style="text-align: center;height: 40px;">
        @WebConfig.CopyRight
    </div>
</div>
</body>
</html>
