<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="bot">
    <div class="clear"></div>
    <div id="footer">
        <div>
            <a href="/about" title="">关于</a>
            <a href="/links" title="友情链接">友站</a>
            <a href="/as" title="广告位出售">广告</a>
        </div>
        <div>
            Copyright &copy; 2016 <a href=""></a>
            <a href="http://www.miitbeian.gov.cn/" target="_blank">浙ICP备15021790号-1</a>
        </div>
    </div>

    <div style="display:none;">

    </div>

    <!--[if lt IE 9]>
    <script src="/resources/js/css3-mediaqueries.js"></script>
    <![endif]—>
</div>
</body>
</html>