<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="right">
    <div id="sidebar">
        <div class="section">
            <h3>最新文章</h3>
            <ul>
                <th:block th:each="item:${page.recent}">
                    <li>
                        <a th:href="*{item.url}" th:text="*{item.title}"></a>
                        <div class="meta" th:text="*{#calendars.format(item.time,'yyyy-MM-dd')}"></div>
                    </li>
                </th:block>
            </ul>
        </div>

        <div class="section">
            <h3>热门文章</h3>
            <ul>
                <th:block th:each="item:${page.hot}">
                    <li>
                        <a th:href="*{item.url}" th:text="*{item.title}"></a>
                        <div class="meta" th:text="*{#calendars.format(item.time,'yyyy-MM-dd')}"></div>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
