<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="top">
    <div id="header">
        <div class="top_bar" th:utext="${page.top}">

        </div>
        <div class="top_menu_bar">
            <div id="top_menu" class="top_menu">
                <div class="top_menu_list">
                    <a class="btn cur" href="/">首页</a>
                    <th:block th:each="item:${page.topNav}">
                        <a class="btn" th:href="*{item.url}" th:text="${item.name}"></a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
